<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura,opencover</Format>
          <Exclude>[*.Test]*</Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute,ExcludeFromCodeCoverageAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/Migrations/*.cs,**/Program.cs,**/Properties/launchSettings.json,**/AdvancedDevSample.Application/DTOs/**/*.cs,**/AdvancedDevSample.Application/Interfaces/**/*.cs,**/AdvancedDevSample.Infrastructure/Persistence/Entities/**/*.cs,**/AdvancedDevSample.Infrastructure/Persistence/Mappers/**/*.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
